body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    flex: 0 1 auto;
    border: 1px solid black;
    height: 5px;
    width: 5px;
}